.contacts {
    background-color: black;
    padding: 3rem 0;
    color: white;
}

.contacts h1 {
    color: var(--primary-green);
    padding: 1.3rem 0;
}

.contacts p {
    color: lightgray;
    font-size: 1.2rem;
}

.contacts input, .contacts textarea {
    width: 100%;
    box-sizing: border-box;
    background: none; 
    border: 0;
    border-bottom: 2px solid var(--primary-green);
    border-radius: 0;
    color: gray;
    outline: 0 !important;
    box-shadow: none !important;
    top: 0;
    margin-bottom: 1rem;
    padding-left: 0 !important;
}

.contacts .container {
    padding: 4rem 0;
}

.contacts input:focus, .contacts textarea:focus {
    background: transparent;
    color: white;
    border-bottom: 2px solid var(--primary-green);
}

.contacts textarea {
    height: 10.5rem;
    margin: 2rem 0;
}

.contact-btn {
    margin: 1rem 0 0 0;
    width: 100%;
    background: var(--primary-green);
    border: none;
    border-radius: 1rem;
    transition: 0.5s all ease-in-out;
}

.contact-btn:hover {
    transform: scale(1.15);
    color: var(--primary-green);
    background: rgb(255,255,255, 0.2)
}

@media(max-width: 768px) {

    .contactcs {
        overflow-x: hidden;
    }
    .contacts .container {
        padding: 0 1rem;
    }

    .contacts p {
        padding: 0 0.4rem;
    }
}

.form-control{
    margin: 0;
}

.error-message {
    color: red;
    font-size: 0.8rem;
}

.succes-message {
    color: var(--primary-green)
}

.profile-links {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;

}

.profile-links > a {
    text-decoration: none;
    margin-bottom: 1rem;
    color: white;
}

a:hover {
    color: var(--primary-green) !important;
}

.profile-icon {
    color: var(--primary-green) !important;
    height: 2rem;
    width: 2rem;
}