.myCarousel {
    color: white;
    background: transparent;
    margin-top: -6%;
    width: 54%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 6%;
    padding-bottom: 8%;
    padding-left: 5%;
    padding-right: 5%;
    height: 17.875rem;
}

.myCarousel h3 {
    color: var(--primary-green);
    font-weight: 400;
    padding-top:3rem;
}

.myCarousel p {
    color: lightgray;
}

.carousel .slide img {
    width: 10rem !important;
    border-radius: 50%;
    padding-top: 2rem;
}

.carousel .slide {
    background: transparent !important;
    height: 100%;
}

.carousel-root {
    margin:auto !important;
    margin-top:3% !important;
}