.gallery {
    background-image: url(gallery-bg.jpg);
    background-size: cover;
    text-align: center;
    padding-bottom: 4rem;
    padding-top: 4rem;
    margin-bottom: 0;
    width: 100%;
}

.gallery h1 {
    color: var(--primary-green);
    padding: 3rem 0;
}

.gallery-content {
    text-align: center;
    max-width: 53.125rem;
    margin: 0 auto 2rem auto;
    background: rgb(0,0,0,0.65);
}